@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
/* Variables */
/* mixin */
/* Keyframe */
@keyframes AfficherPlat {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes ValidePlat {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-70px);
  }
}
@keyframes loadspinner {
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(3turn);
    opacity: 0;
  }
}
@keyframes Coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: Roboto;
  color: #353535;
  margin: 0;
}

h1, h2, h3 {
  color: black;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* header */
.headerAccueil {
  box-shadow: 0px 6px 10px -7px #979696;
  display: flex;
  justify-content: center;
  z-index: 5;
  position: relative;
  margin: 0;
  padding: 0;
}
.headerAccueil__logo {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0;
}
.headerAccueil__logo__img {
  width: 200px;
}

.headerRestaurant {
  box-shadow: 0px 6px 10px -7px #979696;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
  margin: 0;
  padding: 0;
}
.headerRestaurant__fleche {
  font-size: 30px;
  margin-left: 30px;
  color: #353535;
}
.headerRestaurant__fleche--Lien {
  text-decoration: none;
}
.headerRestaurant__logo {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.headerRestaurant__logo__img {
  width: 200px;
}

.loader {
  animation: loadspinner 3s linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}
.loader:before {
  animation: loadspinner 4s linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.loader:after {
  animation: loadspinner 4s linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

/* localisation */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494848;
  background: #eaeaea;
  z-index: 2;
}
.localisation__Ville {
  padding: 20px 0 20px 10px;
  border: none;
  background: #eaeaea;
}

.Reservez {
  margin: 0;
  background: #f6f6f6;
  text-align: center;
  padding: 20px 20px 70px 20px;
}
.Reservez p {
  font-weight: lighter;
  margin-bottom: 50px;
}
.Reservez .btn {
  text-decoration: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 10px #a1a1a1;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 30px;
}
.Reservez .btn:hover {
  background: linear-gradient(to bottom right, #ff9de4, #a674e2);
  box-shadow: 0px 2px 10px #6e6e6e;
}

/* Fonctionnement */
.Fonctionnement {
  padding: 30px;
}
.Fonctionnement h2 {
  margin-left: 5%;
}
.Fonctionnement__Englobe {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  justify-content: space-around;
}
.Fonctionnement__Englobe__Lien {
  text-decoration: none;
  color: black;
}
.Fonctionnement__Englobe__etapes {
  background: #f6f6f6;
  box-shadow: -1px 3px 15px #d6d6d6;
  border-radius: 30px;
  font-weight: bold;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  margin: 0 20px 30px 20px;
}
.Fonctionnement__Englobe__etapes__nbr {
  background: #9356DC;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 6px;
  width: 20px;
  text-align: center;
  z-index: 8;
  position: relative;
  margin-left: -15px;
}
.Fonctionnement__Englobe__etapes__Picto, .Fonctionnement__Englobe__etapes p {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 10px;
}
.Fonctionnement__Englobe__etapes__Picto i {
  color: #817f7f;
  font-size: 25px;
}
.Fonctionnement__Englobe__etapes .Fonctionnement__etapes__Pictotexte i, .Fonctionnement__Englobe__etapes .Fonctionnement__etapes__Pictotexte p {
  margin-left: 20px;
}
.Fonctionnement__Englobe__etapes:hover {
  background: #f5edff;
}
.Fonctionnement__Englobe__etapes:hover i {
  color: #9356DC;
}

/* Restaurants */
.Restaurants {
  background: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 40px;
}
.Restaurants h2 {
  margin-left: 7%;
}
.Restaurants__Englobe {
  margin: 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Restaurants__Englobe__lien {
  text-decoration: none;
  color: black;
}
.Restaurants__Englobe .ChoixRestaurant {
  width: 40%;
  border-radius: 20px;
  background: white;
  box-shadow: -1px 3px 15px #d6d6d6;
  margin: 30px;
  position: relative;
}
.Restaurants__Englobe .ChoixRestaurant__Nouveau {
  position: absolute;
  right: auto;
  background: #99E2D0;
  color: #278870;
  width: 80px;
  padding: 5px;
  text-align: center;
  right: 15px;
  border-radius: 3px;
  margin-top: 15px;
  box-shadow: 0px 2px 10px #424242;
  font-weight: 500;
  font-size: 14px;
}
.Restaurants__Englobe .ChoixRestaurant__img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.Restaurants__Englobe .ChoixRestaurant__Figcap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  line-height: 6px;
}
.Restaurants__Englobe .ChoixRestaurant__Figcap h3 {
  font-family: "Roboto";
}
.Restaurants__Englobe .ChoixRestaurant__Figcap p {
  font-weight: lighter;
}
.Restaurants__Englobe .ChoixRestaurant .Coeur {
  font-size: 25px;
}
.Restaurants__Englobe .ChoixRestaurant .Coeur__Vide {
  background: white;
  position: absolute;
  color: black;
}
.Restaurants__Englobe .ChoixRestaurant .Coeur__Plein {
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.Restaurants__Englobe .ChoixRestaurant .Coeur__Vide:hover {
  animation: Coeur 2500ms forwards ease-in reverse;
}
.Restaurants__Englobe .ChoixRestaurant .Coeur__Plein:hover {
  animation: Coeur 2500ms forwards ease-in;
}

/* Pages restaurant */
.imgRestaurant {
  width: 100%;
  margin: 0;
  z-index: 3;
}
.imgRestaurant__photo {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.Menu {
  position: relative;
  width: 100%;
  margin-top: -50px;
  border-radius: 50px 50px 0px 0px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.Menu__NomRestaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Menu__NomRestaurant h2 {
  font-family: Shrikhand;
  margin-left: 35px;
  margin-top: 50px;
  font-size: 30px;
}
.Menu__NomRestaurant .Coeur {
  font-size: 30px;
  margin-top: 20px;
  margin-right: 50px;
  color: white;
}
.Menu__NomRestaurant .Coeur__Vide {
  background: white;
  position: absolute;
  color: black;
}
.Menu__NomRestaurant .Coeur__Plein {
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.Menu__NomRestaurant .Coeur__Vide:hover {
  animation: Coeur 2500ms forwards ease-in reverse;
}
.Menu__NomRestaurant .Coeur__Plein:hover {
  animation: Coeur 2500ms forwards ease-in;
}
.Menu .Englobe__PlatsAChoisir {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3%;
}
.Menu .PlatsAChoisir {
  margin: 10px 20px 20px 20px;
  width: 360px;
}
.Menu .PlatsAChoisir h3 {
  font-weight: 200;
  font-size: 16px;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.Menu .PlatsAChoisir__lien {
  text-decoration: none;
  color: #353535;
}
.Menu .PlatsAChoisir__Plat {
  background: white;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 10px -10px #d3d1d1;
  padding-left: 10px;
  margin-bottom: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  animation: AfficherPlat 1500ms ease-in-out both;
}
.Menu .PlatsAChoisir__Plat:hover .Plat__PictoValide, .Menu .PlatsAChoisir__Plat:hover .Plat__Prix {
  animation: ValidePlat 1200ms forwards cubic-bezier(0.05, 0.71, 0.09, 1.05);
}
.Menu .PlatsAChoisir__Plat:hover .Plat__PictoValide i {
  transform: rotate(360deg);
  transition: transform 400ms;
  transition-delay: 100ms;
}
.Menu .PlatsAChoisir__Plat:hover p {
  width: 160px;
  padding-right: 40px;
}
.Menu .PlatsAChoisir__Plat:hover h3 {
  width: 240px;
}
.Menu .PlatsAChoisir__Plat--1 {
  animation-delay: 375ms;
}
.Menu .PlatsAChoisir__Plat--2 {
  animation-delay: 750ms;
}
.Menu .PlatsAChoisir__Plat--3 {
  animation-delay: 1125ms;
}
.Menu .PlatsAChoisir__Plat--4 {
  animation-delay: 1500ms;
}
.Menu .PlatsAChoisir__Plat h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 7px 10px 0 0;
  border: none;
  width: 280px;
  height: 20px;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Menu .PlatsAChoisir__Plat p {
  font-weight: lighter;
  margin: 0 0 10px 0;
  width: 280px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Menu .PlatsAChoisir__Plat .Plat__Prix {
  margin: 45px 10% 20px 10px;
  font-weight: bold;
}
.Menu .PlatsAChoisir__Plat .Plat__PictoValide {
  background: #99E2D0;
  color: white;
  font-size: 30px;
  border-radius: 0px 20px 20px 0px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -100px;
}
.Menu .btn {
  text-decoration: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 10px #a1a1a1;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 100px;
  align-self: center;
}
.Menu .btn:hover {
  background: linear-gradient(to bottom right, #ff9de4, #a674e2);
  box-shadow: 0px 2px 10px #6e6e6e;
}

/* footer */
.footer {
  background: #353535;
  font-weight: 300;
}
.footer h2 {
  font-family: Shrikhand;
  padding-left: 25px;
  padding-top: 25px;
  margin: 0;
  color: white;
}
.footer__Englobe {
  padding: 10px 25px 25px 25px;
}
.footer__Englobe--Lien {
  text-decoration: none;
  color: white;
}
.footer__Englobe__Pictotexte {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.footer__Englobe__Pictotexte .Pictofooter {
  padding-right: 10px;
}

@media screen and (max-width: 992px) {
  /* Restaurants */
  .Restaurants__Englobe {
    display: flex;
    flex-wrap: wrap;
  }

  .ChoixRestaurant {
    width: 40%;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  /* Fonctionnement */
  .Fonctionnement__Englobe {
    display: block;
    flex-wrap: nowrap;
  }

  /* Restaurants */
  .Restaurants__Englobe .ChoixRestaurant {
    width: 100%;
    margin: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
