@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* Variables */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-background: #f6f6f6;
$couleur-textes: #353535;
$Couleur-tertiaireDarken: darken($couleur-tertiaire,40%);
$degrade: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
$lighten: 7%;
$degradeLight: linear-gradient(to bottom right, lighten($couleur-secondaire, $lighten), lighten($couleur-primaire, $lighten));

/* mixin */

@mixin btn {
    background: $degrade;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px 10px #a1a1a1;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    &:hover
    {
        background: $degradeLight;
        box-shadow: 0px 2px 10px #6e6e6e;
    }
}

/* Keyframe */

@keyframes AfficherPlat {
    0% {
        opacity: 0;
        transform: translateY(100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes ValidePlat {
    0%{
        transform: translate(0%);
    }

    100%{
        transform: translate(-70px);
    }
}

@keyframes loadspinner {
    99% {
        opacity: 1;
    }
    100% {
        transform: rotate(3turn);
        opacity: 0;
    }
}

@keyframes Coeur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes Loading {
    0%{
        opacity: 0;
    }
    99%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
    
}



body
{
    font-family: Roboto;
    color: $couleur-textes;
    margin: 0;
}

h1, h2, h3
{
    color: black;
}

.container
{
    max-width: 1280px;
    margin:auto;
    animation: Loading 3000ms;
}


/* header */

    .headerAccueil
    {  
        box-shadow: 0px 6px 10px -7px rgb(151, 150, 150);
        display: flex;
        justify-content: center;
        z-index: 5;
        position: relative;
        margin: 0;
        padding: 0;
        &__logo
        {
            padding-top: 20px;
            padding-bottom: 15px;
            margin: 0;
            &__img
            {
                width: 200px;
            }
        }
    }

    .headerRestaurant
    {  
        box-shadow: 0px 6px 10px -7px rgb(151, 150, 150);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        position: relative;
        margin: 0;
        padding: 0;
        &__fleche
        {
            font-size: 30px;
            margin-left: 30px;
            color: $couleur-textes;
            &--Lien
            {
                text-decoration: none;
            }
        }
        &__logo
        {
            padding-top: 20px;
            padding-bottom: 15px;
            padding-right: 20px;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            
            &__img
            {
                width: 200px;
            }
        }
    }

    .loader 
    {
        animation:loadspinner 3s  linear forwards;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color: $couleur-primaire;
        border-top-color: $couleur-primaire;
        box-sizing:border-box;
        height:20vmin;
        left:calc(50% - 10vmin);
        position:fixed;
        top:calc(50% - 10vmin);
        width:20vmin;
        z-index:1;
        &:before 
        {
            animation:loadspinner 4s  linear forwards;
            border:solid 2vmin transparent;
            border-radius:50%;
            border-right-color: $couleur-secondaire;
            border-top-color: $couleur-secondaire;
            box-sizing:border-box;
            content:"";
            height:16vmin;
            left:0;
            position:absolute;
            top:0;
            width:16vmin;
        }
        &:after 
        {
            animation:loadspinner 4s  linear forwards;
            border:solid 2vmin transparent;
            border-radius:50%;
            border-right-color: $couleur-tertiaire;
            border-top-color: $couleur-tertiaire;
            box-sizing:border-box;
            content:"";
            height:12vmin;
            left:2vmin;
            position:absolute;
            top:2vmin;
            width:12vmin;
        }
    }
      
    /* localisation */

    .localisation
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(73, 72, 72);
        background: #eaeaea;
        z-index: 2;
        &__Ville 
        {
            padding: 20px 0 20px 10px;
            border: none;
            background: #eaeaea;
        }
    }

    .Reservez
    {
        margin: 0;
        background: $couleur-background;
        text-align: center;
        padding: 20px 20px 70px 20px;
        p 
        {
            font-weight:lighter;
            margin-bottom: 50px;
        }
        .btn
        {   
            text-decoration: none;
            @include btn;
            margin-bottom: 30px;
        }
    }

    /* Fonctionnement */

    .Fonctionnement
    {
        padding: 30px;
        h2
        {
            margin: 0 0 40px 5%;
        }
        &__Englobe
        {   
            display: flex;
            flex-wrap: wrap;
            padding-right: 20px;
            justify-content: space-around;
            &__Lien
            {
                text-decoration: none;
                color: black;
                margin: 0 20px 20px 20px;
            }
            &__etapes
            {
                background: $couleur-background;
                box-shadow: -1px 3px 15px #d6d6d6;
                border-radius: 30px;
                font-weight: bold;
                width: 100%;
                height: 90px;
                display: flex;
                align-items: center;
                
                &__nbr
                {
                    background: $couleur-primaire;
                    border-radius: 30px 30px 30px 30px;
                    color: white;
                    padding: 6px;
                    width: 20px;
                    text-align: center;
                    z-index: 8;
                    position: relative;
                    margin-left: -15px;
                }
                &__Picto, p
                {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    margin-left: 20px;
                    margin-right: 10px;
                }
                &__Picto i
                {
                    color: #817f7f;
                    font-size: 25px;
                }
                .Fonctionnement__etapes__Pictotexte i, .Fonctionnement__etapes__Pictotexte p 
                {
                    margin-left: 20px;
                }
                
            }
            &__etapes:hover
            {
                background: #f5edff;
                i 
                {
                    color: $couleur-primaire;
                }
            }
        }
    }

    /* Restaurants */

    .Restaurants
    {
        background: $couleur-background;
        padding-top: 30px;
        padding-bottom: 40px;
        h2 
        {
           margin-left: 7%;
        }
        &__Englobe
        {   
            margin: 40px 7% 7% 7%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 90%;
            &--Lien
            {   
                text-decoration: none;
                color: black;
                margin:0 40px 40px 0;
                width: 45%;
            }
           
            .ChoixRestaurant
            {
                width: 100%;
                border-radius: 20px;
                background: white;
                box-shadow: -1px 3px 15px #d6d6d6;
                margin: 0;
                position: relative;
                &__Nouveau
                {
                    position: absolute;
                    right: auto;
                    background: $couleur-tertiaire;
                    color: $Couleur-tertiaireDarken;
                    width: 80px;
                    padding: 5px;
                    text-align: center;
                    right: 15px;
                    border-radius: 3px;
                    margin-top: 15px;
                    box-shadow: 0px 2px 10px #424242;
                    font-weight: 500;
                    font-size: 14px;
                }
                &__img
                {
                    width: 100%;
                    height: 180px;
                    border-radius: 20px 20px 0px 0px;
                    object-fit: cover;
                }
                &__Figcap
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px 0 20px;
                    line-height: 6px;
                    h3 
                    {
                        font-family: 'Roboto';
                    }
                    p 
                    {
                        font-weight: lighter;
                        color: $couleur-textes;
                    }
                }
                .Coeur
                {   
                    font-size: 25px;
                    &__Vide
                    {
                        background: white;
                        position: absolute;
                        color: black;
                    }
                    &__Plein
                    {
                        background-image:linear-gradient(#9356DC, #FF79DA);
                        background-clip:text;
                        -webkit-background-clip:text;
                        color:transparent;
                    }
                    &__Vide:hover
                    {
                        animation: Coeur 2500ms forwards ease-in reverse;
                    }
                    &__Plein:hover   
                    {
                        animation: Coeur 2500ms forwards ease-in;
                    }
                
                }
            }
        }
           
    }

    /* Pages restaurant */

    .imgRestaurant
    {
        width: 100%;
        margin: 0;
        z-index: 3;
        &__photo
        {
            width: 100%;
            max-height: 250px;
            object-fit: cover;
        }
    }

    .Menu
    {   
        position: relative;
        width: 100%;
        margin-top: -50px;
        border-radius: 50px 50px 0px 0px;
        background: $couleur-background;
        display: flex;
        flex-direction: column;
        &__NomRestaurant
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 
            {
                font-family: Shrikhand;
                margin-left: 35px;
                margin-top: 50px;
                font-size: 30px;
            }
            .Coeur
            {
                cursor: pointer;
                font-size: 30px;
                margin-top: 20px;
                margin-right: 50px;
                color: white;
                &__Vide
                {
                    background: white;
                    position: absolute;
                    color: black;
                }
                &__Plein
                {
                    background-image:linear-gradient(#9356DC, #FF79DA);
                    background-clip:text;
                    -webkit-background-clip:text;
                    color:transparent;
                }
                &__Vide:hover
                {
                    animation: Coeur 2500ms forwards ease-in reverse;
                }
                &__Plein:hover   
                {
                    animation: Coeur 2500ms forwards ease-in;
                }
            }
        }
        .Englobe__PlatsAChoisir
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3%;
        }
        .PlatsAChoisir
        {
            margin: 10px 20px 20px 20px;
            width: 360px;
            h3 
            {
                font-weight: 200;
                font-size: 16px;
                border-bottom: solid 3px $couleur-tertiaire;
                width : 40px;
                padding-bottom: 5px;
                text-transform: uppercase;
            }
            &__lien
            {
                text-decoration: none;
                color: #353535;
            }
            &__Plat
            { 
                background: white;
                max-width: 100%;
                border-radius: 20px;
                box-shadow: 0px 10px 10px -10px #d3d1d1;
                padding-left: 10px;
                margin-bottom: 20px;
                line-height: 20px;
                display: flex;
                align-items: center;
                overflow: hidden;
                animation: AfficherPlat 1500ms ease-in-out both;
                &:hover .Plat__PictoValide, &:hover .Plat__Prix
                {
                    animation: ValidePlat 1200ms forwards cubic-bezier(.05,.71,.09,1.05);
                }
                &:hover .Plat__PictoValide i 
                {
                    transform: rotate(360deg);
                    transition: transform 400ms;
                    transition-delay: 100ms;
                }
                &:hover p
                {
                    width: 160px;
                    padding-right: 40px;
                }
                 &:hover h3
                {
                    width: 240px;
                }
                @for $plat from 1 through 4 {
                    &--#{$plat} {
                        animation-delay: 375ms * $plat;
                     }
                }
                h3 
                {
                    font-weight: bold;
                    font-size: 18px;
                    margin: 7px 10px 0 0;
                    border: none;
                    width: 280px;
                    height: 20px;
                    text-transform: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p 
                {
                    font-weight: lighter;
                    margin: 0 0 10px 0;
                    width: 280px;
                    height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .Plat__Prix
                {
                    margin: 45px 10% 20px 10px;
                    font-weight: bold;
                }
                .Plat__PictoValide
                {
                    background: $couleur-tertiaire;
                    color: white;
                    font-size: 30px;
                    border-radius: 0px 20px 20px 0px;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: -100px;
                }
            }
        }
        .btn
        {
            text-decoration: none;
            @include btn;
            margin-top: 10px;
            margin-bottom: 100px;
            align-self: center;
        }
    }

   /* footer */

    .footer 
    {
        background: #353535;
        font-weight: 300;
        h2 
        {   
            font-family: Shrikhand;
            padding-left: 25px;
            padding-top: 25px;
            margin: 0;
            color: white;
        }
        &__Englobe
        {   
            padding: 10px 25px 25px 25px;
            &--Lien
            {
                text-decoration: none;
                color: white;
            }
            &__Pictotexte  
            {
                display: flex;
                align-items: center;
                font-weight: bold;
                .Pictofooter
                {
                    padding-right: 10px;
                }
            }
        }
    }

@media screen and (max-width: 992px) /* Tablette */
{ 
    /* Restaurants */
    .Restaurants__Englobe--Lien
    {
        width: 43%;
        margin: 0 30px 30px 0;
    }
    .Restaurants__Englobe
    {
        .ChoixRestaurant
        {
            max-width: none;
            width: 100%;
        } 
    }
    
}

@media screen and (max-width: 768px) /* Smartphone */
{ 
    /* Fonctionnement */
    .Fonctionnement
    {
        &__Englobe
        {   
            display: block;
            flex-wrap: nowrap;
        }
    } 
    /* Restaurants */
    .Restaurants__Englobe--Lien
    {
        width: 100%;
    }
    .Restaurants__Englobe
    {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        .ChoixRestaurant
        {
            max-width: none;
            width: 90%;
            margin: 20px 20px 20px 0;
        } 
    }
    
    /* Plats à choisir */
    
    .Menu
    { 
        .PlatsAChoisir
        {
            &__Plat
            {
                padding-right: 20px;
                &:hover h3
                {
                    width: 240px;
                }
                &:hover p  
                {
                    width: 160px;
                }

            }
        }
    }
    
}

    
        

